.hero {
  width: 100%;
  position: relative;
  height: calc(100vh - 133px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-title {
  font-family: "Englebert", sans-serif;
  padding-top: 4rem;
}

.hero-title h4 {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
}

.hero-title > h1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  font-size: 120px;
}

.hero-title h1 span {
  display: block;
  text-align: end;
  margin-left: 70px;
}

.hero-title > span {
  font-size: 40px;
  float: right;
}

.hero img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.hero #light1 {
  animation: light 4s linear infinite;
  opacity: 1;
}

.hero #light2 {
  animation: light2 4s linear infinite;
  opacity: 1;
}

@keyframes light {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  21% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  31% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes light2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  21% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  31% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero img {
    width: 1450px;
    left: 0;
    bottom: 0;
  }

  .hero-title {
    padding-top: 180px;
  }

  .hero-title h4,
  .hero-title > span {
    font-size: 35px;
  }

  .hero-title h1 {
    font-size: 90px;
    line-height: 2cm;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    height: calc(100vh - 64px);
  }

  .hero-title h4,
  .hero-title > span {
    font-size: 30px;
  }

  .hero-title h1 {
    font-size: 80px;
  }

  .hero img {
    width: 1020px;
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 360px) { 
  .hero-title h4,
  .hero-title > span {
    font-size: 25px;
  }

  .hero-title h1 {
    font-size: 70px;
    line-height: 1.7cm;
  }

  .hero-title h1 span {
    margin-left: 30px;
  }
}
