.hero {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 133px);
}

.hero-title {
  font-family: "Englebert", sans-serif;
  font-size: 3rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.hero-title h4 {
  margin: 0;
  font-weight: 500;
}

.hero-title > div {
  text-transform: uppercase;
  line-height: 6rem;
  font-size: 7rem;
}

.hero-title > div:nth-last-child(2),
.hero-title > h4:nth-last-child(1) {
  margin-left: 100px;
}

.hero-title > div:nth-last-child(3) {
  margin-left: 20px;
}

.hero-title h1 > span {
  padding-right: 20px;
}

.hero img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.hero #light1 {
  animation: light 4s linear infinite;
  opacity: 1;
}

.hero #light2 {
  animation: light2 4s linear infinite;
  opacity: 1;
}

@keyframes light {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  21% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  31% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@keyframes light2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  21% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  31% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero img {
    height: 45%;
    width: 1450px;
    left: 0;
    bottom: 0;
  }

  .hero-title {
    padding-top: 180px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    height: calc(100vh - 64px);
  }

  .hero img {
    width: 920px;
  }

  .hero-title {
    font-size: 2rem;
    padding-top: 35%;
  }

  .hero-title > div {
    line-height: 4rem;
    font-size: 4rem;
  }

  .hero img {
    height: 45%;
    width: 1020px;
    left: 0;
    bottom: 0;
  }

  .hero-title > div:nth-last-child(2),
  .hero-title > span:nth-last-child(1) {
    margin-left: 70px;
  }
}

@media screen and (max-width: 375px) {
  .hero-title {
    font-size: 1.2rem;
  }

  .hero-title div {
    font-size: 3.5rem;
  }
}
