.about {
  background-color: #161616;
  display: flex;
  align-items: center;
  position: relative;
  padding: 80px 50px;
}

.about-text {
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding: 30px;
}

.about-text > span {
  text-transform: uppercase;
  color: #989898;
}

.about-text h1 {
  margin: 0;
  font-size: 3em;
  font-family: "Englebert", sans-serif;
  color: #161616;
  text-shadow: -4.4px -4.4px 0 #fff, 4.4px -4.4px 0 #fff, -4.4px 4.4px 0 #fff,
    4.4px 4.4px 0 #fff;
}

.about-text h1 > span {
  display: block;
}

.about-text p {
  text-indent: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.about-img {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-img > img {
  position: absolute;
  max-width: 540px;
  width: 100%;
  height: auto;
}

.about-img > img:nth-child(1) {
  z-index: 2;
}

.about-img > img:nth-child(2) {
  z-index: 1;
}

.about-img > img:nth-child(3) {
  z-index: 3;
}

.about-img > img:nth-child(4) {
  z-index: 1;
}
.about-img > img:nth-child(5) {
  z-index: 4;
}

@media screen and (max-width: 576px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }

  .about-text {
    font-size: 1rem;
    margin: 0;
    padding: 30px 20px;
    position: relative;
  }

  .about-text h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: -3.2px -3.2px 0 #fff, 3.2px -3.2px 0 #fff, -3.2px 3.2px 0 #fff,
      3.2px 3.2px 0 #fff;
  }

  .about-text > p {
    text-indent: 20px;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 20px;
  }

  .about-img {
    height: 330px;
  }

  .about-img > img {
    position: absolute;
    height: 100%;
    width: auto;
  }

  .about-img > img:nth-child(3) {
    z-index: 3;
    top: 3px;
  }

  .about-img > img:nth-child(4) {
    z-index: 1;
    top: 3px;
  }
}
