.about {
  background-color: #161616;
  display: flex;
  align-items: center;
  position: relative;
  padding: 150px 50px;
}

.about-text {
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding: 50px;
}

.about-text > h4:nth-child(1) {
  text-transform: uppercase;
  margin: 10px 0;
  color: #989898;
}

.about-text > h4:nth-child(3) {
  margin-top: 10px;
  color: #989898;
}

.about-text h1 {
  margin: 10px 0;
  font-size: 3em;
  font-family: "Englebert", sans-serif;
  color: #161616;
  text-shadow: -4.4px -4.4px 0 #fff, 4.4px -4.4px 0 #fff, -4.4px 4.4px 0 #fff,
    4.4px 4.4px 0 #fff;
}

.about-text p {
  text-indent: 50px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 30px;
}

.about-img {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-img > img {
  position: absolute;
  /* max-width: 540px; */
  width: 100%;
  height: auto;
}

.about-img > img:nth-child(1) {
  z-index: 2;
}

.about-img > img:nth-child(2) {
  z-index: 1;
}

.about-img > img:nth-child(3) {
  z-index: 3;
}

.about-img > img:nth-child(4) {
  z-index: 1;
}
.about-img > img:nth-child(5) {
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about-text {
    font-size: 1rem;
    padding: 40px 30px;
  }

  .about-text h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: -3.2px -3.2px 0 #fff, 3.2px -3.2px 0 #fff, -3.2px 3.2px 0 #fff,
      3.2px 3.2px 0 #fff;
  }

  .about-text > p {
    text-indent: 20px;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 20px;
  }

  .about-img {
    height: 330px;
  }

  .about-img > img {
    position: absolute;
    height: 100%;
    width: auto;
  }

  .about-img > img:nth-child(3) {
    z-index: 3;
    top: 3px;
  }

  .about-img > img:nth-child(4) {
    z-index: 1;
    top: 3px;
  }
}

@media screen and (max-width: 576px) {
  .about {
    flex-direction: column-reverse;
  }

  .about-text {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 375px) {
  .about-text {
    padding: 0;
    text-align: start;
  }

  .about-img img {
    padding: 40px;
  }

  .about-text > span {
    font-size: 0.7rem;
  }

  .about-text h1 {
    font-size: 2em;
    text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
      3px 3px 0 #fff;
  }

  .about-text p {
    text-indent: 15px;
    font-size: 0.8rem;
  }
}
