.navbar {
  position: absolute;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li,
.logo {
  padding: 1.5rem;
}

.logo svg {
  cursor: pointer;
}

.logo svg:hover path {
  fill: #d52d2d;
}

.navbar li a {
  text-decoration: none;
  color: #161616;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar li a:hover {
  color: #d52d2d;
}

.navbar li:last-child a {
  color: #fff;
  padding: 0.7rem 2rem;
  background-color: #161616;
  transition: background-color 0.2s;
  border-radius: 2px;
}

.menu-icon {
  position: absolute;
  top: 3rem;
  right: 4rem;
  display: none;
}

.navbar li:last-child a:hover {
  background-color: #d52d2d;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    top: 1.5rem;
    right: 2rem;
  }

  .logo {
    padding: 0.5rem;
  }

  .logo svg {
    width: 47px;
    height: 29px;
  }

  #alogo,
  #jlogo {
    fill: #fff;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #161616;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 12px;
  }

  .navbar li {
    padding: 1rem;
    font-size: 13px;
  }

  .navbar li:last-child a {
    padding: 0.7rem 2rem;
    border: 2px solid;
  }

  .navmenu {
    width: 100%;
    flex-direction: column;
    display: none !important;
  }

  .navmenu.active {
    display: flex !important;
  }

  .navbar li a {
    color: #fff;
    text-align: center;
  }

  .navbar li:last-child {
    background-position: none !important;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    padding: 0.2rem 0.8rem;
    /* font-size: 10px; */
  }

  .logo svg {
    width: 30px;
  }

  .menu-icon {
    top: 0.9rem;
  }

  .menu-icon svg {
    height: 25px;
  }
}
