.skill {
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 100px;
}

.skill-text {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.skill-text h4 {
  text-transform: uppercase;
  color: #989898;
  margin: 0;
}

.skill-text > h1 {
  margin: 0;
  font-size: 3em;
  font-family: "Englebert", sans-serif;
  color: #161616;
  text-shadow: -4.4px -4.4px 0 #fff, 4.4px -4.4px 0 #fff, -4.4px 4.4px 0 #fff,
    4.4px 4.4px 0 #fff;
  text-transform: uppercase;
}

.skill-text > p {
  width: 75%;
  margin: 24px auto;
}

.card-container {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.card-container > .left-arrow,
.card-container > .right-arrow {
  font-size: 4rem;
  position: absolute;
}

.card-container > .right-arrow {
  right: 0;
  top: 50%;
}

.card-container > .left-arrow {
  top: 50%;
  left: 0;
}

@media screen and (max-width: 1074px) {
  .card-container {
    height: auto;
    padding: 50px 0;
  }

  .card {
    width: 120px;
    margin: 10px;
    height: auto;
  }

  .card img {
    width: 70px;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    padding: 40px 0;
  }

  .skill-text {
    font-size: 1rem;
  }

  .skill-text > h1 {
    font-size: 2.5em;
    text-shadow: -3.3px -3.3px 0 #fff, 3.3px -3.3px 0 #fff, -3.3px 3.3px 0 #fff,
      3.3px 3.3px 0 #fff;
  }

  .skill-text > p {
    margin: 15px auto;
    padding: 0 25px;
    font-size: 0.8rem;
    line-height: 20px;
  }

  .card-container {
    height: auto;
    padding: 20px;
  }

  .card {
    width: 100px;
    margin: 10px;
    height: auto;
  }

  .card p {
    font-size: 15px;
  }

  .card img {
    width: 50px;
  }
}

@media screen and (max-width: 576px) {
  .skill {
    padding: 20px 0;
  }

  .skill-text > p {
    margin: 24px auto;
    padding: 0 25px;
    width: 100%;
    font-size: 0.8rem;
    line-height: 20px;
  }

  .card-container {
    height: auto;
    padding: 0 10px;
  }

  .card {
    width: 80px;
    margin: 10px;
    height: auto;
  }

  .card p {
    font-size: 12px;
  }

  .card img {
    width: 40px;
  }
  
}
