.work {
  position: relative;
  background-color: #161616;
  display: flex;
  align-items: center;
}

.work:nth-child(odd) {
  flex-direction: row-reverse;
  padding: 100px 0 100px 50px;
}

.work:nth-child(even) {
  padding: 100px 50px 100px 0;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
}

.work:nth-child(even) > .img-container svg,
.work:nth-child(odd) > .img-container svg {
  font: bold 92px "Montserrat";
  fill: #fff;
  z-index: 2;
  filter: drop-shadow(0px 4px 2px #000000);
}

.work:nth-child(odd) > .img-container svg text {
  transform: translateX(-60%);
}

.img-container svg > text {
  fill: #000;
  stroke: #000;
  stroke-width: 0.1px;
  z-index: 2;
}

.img-container svg > .svgStroke {
  fill: white;
  stroke: white;
  stroke-width: 16px;
  opacity: 0.3;
  z-index: 2;
}

.work:nth-child(odd) > .img-container > img {
  max-width: 120%;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 1;
}

.work:nth-child(even) > .img-container > img {
  max-width: 120%;
  height: auto;
  position: absolute;
  left: -150px;
  z-index: 1;
}

.text-container {
  font-size: 1.2em;
  width: 100%;
  color: white;
  padding: 50px;
  position: relative;
}

.text-container > span {
  text-transform: uppercase;
  color: #989898;
}

.text-container h1 {
  margin: 0;
  font-size: 3em;
  font-family: "Englebert", sans-serif;
  color: #161616;
  text-shadow: 4px 4px 0 #fff, -4px -4px 0 #fff, 4px -4px 0 #fff,
    -4px 4px 0 #fff, 4px 4px 0 #fff;
}

.text-container h3 {
  text-transform: uppercase;
  margin: 0;
  color: #989898;
}

.text-container > p:nth-child(3) {
  text-indent: 80px;
  text-align: justify;
  text-justify: inter-word;
}

.text-container > code {
  display: block;
  margin-bottom: 20px;
  color: #989898;
}

.text-container > img {
  opacity: 0.5;
  color: #989898;
  margin-right: 20px;
}

.text-container > .icon-container {
  display: flex;
}

.icon-container > .tooltip {
  margin-right: 20px;
  position: relative;
}

.tooltip > .tooltip-icon {
  visibility: hidden;
  width: 120px;
  background-color: #d52d2d;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 0.8rem;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover .tooltip-icon {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-icon::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d52d2d transparent transparent transparent;
}

.text-container .btn-container {
  display: flex;
}

@media screen and (max-width: 1074px) {
  .text-container h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .text-container > .btn {
    margin-top: 20px;
    width: 140px;
    height: 35px;
    font-size: 12px;
  }

  .text-container > .btn > span {
    margin-right: 5px;
  }

  .text-container > .btn > span > svg {
    width: 30px;
    height: 20px;
  }

  .text-container {
    font-size: 1rem;
    margin: 0;
    padding: 40px;
  }

  .text-container > h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: -3.2px -3.2px 0 #fff, 3.2px -3.2px 0 #fff, -3.2px 3.2px 0 #fff,
      3.2px 3.2px 0 #fff;
  }

  .text-container > p:nth-child(3) {
    text-indent: 20px;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 20px;
  }

  .text-container > code {
    text-align: start;
    margin-bottom: 10px;
  }

  .text-container > .icon-container {
    display: flex;
  }

  .icon-container > .tooltip {
    margin-right: 10px;
  }

  .icon-container > .tooltip > img {
    width: 30px;
  }

  .work:nth-child(odd),
  .work:nth-child(even) {
    padding: 80px 0 80px 0;
  }

  .work:nth-child(odd) > .img-container svg text {
    transform: translateX(-60%);
  }

  .work:nth-child(even) > .img-container > img {
    left: -80px;
  }
}

@media screen and (max-width: 576px) {
  .work:nth-child(even),
  .work:nth-child(odd) {
    padding: 50px 20px;
    flex-direction: column;
  }

  .text-container {
    padding: 10px;
  }

  .img-container {
    height: 330px;
  }

  .work:nth-child(even) > .img-container > img {
    height: 100%;
    width: auto;
    left: auto;
    padding: 30px;
  }

  .work:nth-child(even) > .img-container svg text {
    font-size: 100px;
    transform: translateX(15%);
  }

  .work:nth-child(odd) > .img-container > img {
    height: 100%;
    width: auto;
    left: auto;
    padding: 30px;
  }

  .work:nth-child(odd) > .img-container svg text {
    font-size: 100px;
    transform: translateX(-75%);
  }
}

@media screen and (max-width: 483px) {
  .work:nth-child(even) > .img-container svg text {
    transform: translateY(10%);
    font-size: 80px;
  }

  .work:nth-child(odd) > .img-container svg text {
    transform: translate(-65%, 10%);
    font-size: 80px;
  }

  .work:nth-child(odd) > .img-container > img,
  .work:nth-child(even) > .img-container > img {
    height: 80%;
  }
}

@media screen and (max-width: 320px) {
  .work:nth-child(even),
  .work:nth-child(odd) {
    padding: 30px 10px;
  }

  .text-container {
    font-size: 0.7rem;
  }

  .text-container > p:nth-child(3) {
    font-size: 0.7rem;
  }
}
